<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.tiny.modules.lms.mapper.LmsRecordCourseMapper">

    <select id="queryRecordCourseList" resultType="map">
        SELECT
            lrc.*,
            g.`name` AS grade_name,
            s.`name` AS subject_name,
            t.`name` AS lecturer_name,
        FROM
            lms_record_course AS lrc
                LEFT JOIN lms_grade AS g ON lc.grade_id = g.id
                LEFT JOIN lms_subject AS s ON lc.subject_id = s.id
                LEFT JOIN ums_teacher AS t ON lc.lecturer_id = t.id
        ${ew.customSqlSegment}
    </select>
</mapper>