<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.tiny.modules.cms.mapper.CmsOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.macro.mall.tiny.modules.cms.entity.CmsOrder">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="commodity_id" property="commodityId" />
        <result column="user_name" property="userName" />
        <result column="order_sn" property="orderSn" />
        <result column="order_status" property="orderStatus" />
        <result column="amount" property="amount" />
        <result column="consignee" property="consignee" />
        <result column="mobile" property="mobile" />
        <result column="address" property="address" />
        <result column="pay_id" property="payId" />
        <result column="pay_time" property="payTime" />
        <result column="ship_sn" property="shipSn" />
        <result column="ship_channel" property="shipChannel" />
        <result column="ship_time" property="shipTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
